<div class="container">
    <br />
    <div class="row">
        <form (ngSubmit)="createProduct( f )" #f="ngForm">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label for="exampleInputPassword0">Ingrese datos del producto:</label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nombre</label>
                        <input type="text" name="name" [(ngModel)]="product.name" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="exampleInputPassword2">Descripcion</label>
                        <input type="text" name="description" [(ngModel)]="product.description" class="form-control" id="exampleInputPassword2" placeholder="Descripcion">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="exampleInputPassword3">Precio</label>
                        <input type="text" name="price" [(ngModel)]="product.price" class="form-control" id="exampleInputPassword3" placeholder="Precio">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="float-right">
                        <button type="button" class="btn btn-outline-danger" (click)="logout()">Salir</button>
                        <button type="submit" class="btn btn-success">Crear producto</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>