<div class="container">
    <br />
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-6">
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-danger" (click)="logout()">Salir</button>
            <button type="button" class="btn btn-primary" (click)="newProduct()">Nuevo</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsLst">
                        <th scope="row">{{ product.idProduct }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>